.input-file input[type=file] {
    visibility: hidden;
    width: 1px;
    height: 1px;
}
.input-file .btn {
    background-color: #ddd;
    border-color: #ccc;
    color: #333;
    font-size:13px;
    padding: .175rem .75rem;
    text-align: center;
    align-items: center;

}
.input-file .file-selected {
    font-size: 10px;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 5px;
}
