.input-file input[type=file] {
    visibility: hidden;
    width: 1px;
    height: 1px;
}
.input-file .btn {
    background-color: #ddd;
    border-color: #ccc;
    color: #333;
    font-size:13px;
    padding: .175rem .75rem;
    text-align: center;
    align-items: center;

}
.input-file .file-selected {
    font-size: 10px;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 5px;
}
.read-more {
    margin-bottom: 0.5em;
}
.read-more p:last-child {
    margin-bottom: 0;
}
.read-more__link-wrap {
    display: block;
    color: #16cfc1;
}
.read-more__link {
    font-weight: 500;
}

.read-more.is-inline,
.read-more.is-inline p,
.read-more.is-inline + span {
    display: inline;
}

.read-more.is-inline + span {
    margin-left: 0.25em;
}

.read-more.is-inline.is-expanded + span {
    display: inline-block;
    margin-left: 0;
}
.paginate-page{
    width:100%;
    margin: 0 auto;
}
ul.pagination{
    list-style: none;
    margin: 0 auto !important;
    display: table;
}


.pagination li{
    display: inline-block;
    cursor: pointer;
    //border: 1px solid silver;
    padding: 7px 9px;
    margin: 5px 1px;
    min-width:20px;
    text-align: center;
    float:left;
}

.active-page{
    cursor: default !important;
    background: #c0c0c0;
}

.page-disable{
    cursor: default !important;
    background-color: #f1f1f1;
}

.rait-container {
    width: 80%;

}

.rait-container  .inner {
    background-color: white;
    overflow: hidden;
    position: relative;

}

.rait-container  .rating {
    float: left;
    width:5%;
    margin-right: 3%;
    text-align: center;
}

.rait-container  .rating-users {
    font-size: 21px;
}

.rait-container  .histo {

    width: 92%;

}



.rait-container  .bar-block {
    margin-left: 5px;
    color: black;
    display: block;
    float: left;
    width: 75%;
    position: relative;
}

.rait-container  .bar {
    display: block;
}

.rait-container  #bar-five {
    width: 0;
    background-color: #9FC05A;
}

.rait-container  #bar-four {
    width: 0;
    background-color: #ADD633;
}

.rait-container  #bar-three {
    width: 0;
    background-color: #FFD834;
}

.rait-container  #bar-two {
    width: 0;
    background-color: #FFB234;
}

.rait-container  #bar-one {
    width: 0;
    background-color: #FF8B5A;
}

.index-count{
}
.icon-star{
    float:right;
    padding-top:5px;
    color:green;
}
