@import url(http://fonts.googleapis.com/css?family=Raleway:700,800);

html, body.form_dental { margin: 0; }

form.form_dental :focus { outline: none; }
form.form_dental ::-webkit-input-placeholder { color: #DEDFDF; }
form.form_dental ::-moz-placeholder { color: #DEDFDF; }
form.form_dental :-moz-placeholder { color: #DEDFDF; }
form.form_dental ::-ms-input-placeholder { color: #DEDFDF; }

body.form_dental  {
  background: #6ED0F6;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
}

form.form_dental #wrapper, label, #arrow, button span { transition: all .5s cubic-bezier(.6,0,.4,1); }

form.form_dental #wrapper { overflow: hidden; }

form.form_dental #signin:checked ~ #wrapper { height: 178px; }
form.form_dental #signin:checked ~ #wrapper #arrow { left: 32px; }
form.form_dental #signin:checked ~ button span { transform: translate3d(0,-72px,0); }

form.form_dental #signup:checked ~ #wrapper { height: 262px; }
form.form_dental #signup:checked ~ #wrapper #arrow { left: 137px; }
form.form_dental #signup:checked ~ button span { transform: translate3d(0,-144px,0); }

form.form_dental #reset:checked ~ #wrapper { height: 94px; }
form.form_dental #reset:checked ~ #wrapper #arrow { left: 404px; }
form.form_dental #reset:checked ~ button span { transform: translate3d(0,0,0); }

form.form_dental {
  width: 450px;
  height: 370px;
  margin: -185px -225px;
  position: absolute;
  left: 50%;
  top: 50%;
}

form.form_dental input[type=radio] { display: none; }

form.form_dental label {
  cursor: pointer;
  display: inline-block;
  font-size: 22px;
  font-weight: 800;
  opacity: .5;
  margin-bottom: 30px;
  text-transform: uppercase;
}
form.form_dental label:hover {
  transition: all .3s cubic-bezier(.6,0,.4,1);
  opacity: 1;
}
form.form_dental label[for="signin"] { margin-right: 20px; }
form.form_dental label[for="reset"] { float: right; }
form.form_dental input[type=radio]:checked + label { opacity: 1; }

form.form_dental input[type=text],
form.form_dental input[type=password] {
  background: #fff;
  border: none;
  border-radius: 8px;
  font-size: 27px;
  font-family: 'Raleway', sans-serif;
  height: 72px;
  width: 99.5%;
  margin-bottom: 10px;
  opacity: 1;
  text-indent: 20px;
  transition: all .2s ease-in-out;
}
form.form_dental button {
  background: #079BCF;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
  height: 72px;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  transition: all .3s cubic-bezier(.6,0,.4,1);
}
form.form_dental button span {
  display: block;
  line-height: 72px;
  position: relative;
  top: -2px;
  transform: translate3d(0,0,0);
}
form.form_dental button:hover {
  background: #007BA5;
}

form.form_dental #arrow {
  height: 0;
  width: 0;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: relative;
  left: 32px;
}


form.form_dental #hint {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}